<section class="carousel g-clearfix">
    <a href="#" class="carousel__image-link">
        <img src="img/jurgen-klopp.jpg" alt="" class="carousel__image"/>
    </a>

    <div class="carousel-main">
        <a href="#" class="carousel__link">
            <header class="carousel__header">Jurgen Klopp makes a sexy Liverpool</header>
            <span class="carousel__description">Liverpool outcast Jose Enrique set to be handed lifeline by Jurgen Klopp</span>
        </a>

        <div class="carousel__control-container">
            <button class="carousel__control carousel__control_previous"></button
            >
            <div class="carousel-counter">
                <span class="carousel-counter__current">7</span><span class="carousel-counter__all">10</span>
                <span class="carousel-counter__spinner"></span>
            </div
            >
            <button class="carousel__control carousel__control_next"></button>
        </div>
    </div>
</section>