<section class="main-news">
    <h2 class="main-news__head">main news</h2>
    <ul class="main-news-list">
        <li class="main-news-list__item">
            <a href="#" class="main-news-list__link">
                <img src="img/gold_ball.jpg" alt="" class="main-news-list__image">
                <div class="main-news-list__title">The FIFA Ballon d'Or is an annual association football award given by FIFA</div>
            </a></li
        ><li class="main-news-list__item">
        <a href="#" class="main-news-list__link">
            <img src="img/messi.jpg" alt="" class="main-news-list__image">
            <div class="main-news-list__title">Messi got some balloons</div>
        </a></li
    ><li class="main-news-list__item">
        <a href="#" class="main-news-list__link">
            <img src="img/ronaldo.jpg" alt="" class="main-news-list__image">
            <div class="main-news-list__title">CR7 also have some balls, but not so much</div>
        </a></li
    ><li class="main-news-list__item">
        <a href="#" class="main-news-list__link">
            <img src="img/main-news-image.jpg" alt="" class="main-news-list__image">
            <div class="main-news-list__title main-news-list__title_icon-photo">Ribery got vase!</div>
        </a></li>
    </ul>
</section>