<div class="news-feed">
    <h3 class="news-feed__head">Last News</h3>
    <ul class="news-feed-list">
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Real Madrid players to gaffer: up and at 'em!</a>

        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Swedes indebted to talismanic Ibrahimovic</a>
            <a href="#" class="news-feed-list__source">marca.com</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">2016 European Championship to go ahead in France</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Ancelotti: "Premier League return is my no. 1 choice"</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Walters double secures Euro 2016 spot for Ireland</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">"They intended to set off an explosive inside the stadium" - eyewitness</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link ">Raúl bids goodbye in style
                <span class="news-feed-list__icon_photo"></span>
                <span class="news-feed-list__icon_video"></span>
            </a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Five reasons Belgium vs. Spain was called off</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Niggles won't keep Benzema out of 'Clásico'</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Abdeslam suspected to have been near King Baudouin Stadium</a>
        </li>
    </ul>
    <h3 class="news-feed__head">newsfeed</h3>
    <ul class="news-feed-list">
        <li class="news-feed-list__item g-clearfix">
            <img src="img/zlatan.jpg" alt=" " class="news-feed-list__image">
            <a href="#" class="news-feed-list__link news-feed-list__link_bold">Zlatan Ibrahimovic on target as Sweden qualify
                with draw in Denmark
                <span class="news-feed-list__icon_photo"></span>
            </a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Alvaro Morata insists Juventus are “still hungry”
                and targets victory over Milan on Saturday.</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Ecuador stay perfect as Argentina, Brazil win
                <span class="news-feed-list__icon_video"></span>
            </a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Sweden, Ukraine complete Euro line-up </a>
            <a href="#" class="news-feed-list__source">fifa.com</a>
        </li>
        <li class="news-feed-list__item">
            <a href="#" class="news-feed-list__link">Aubameyang penalty gives Gabon World Cup joy</a>
        </li>
    </ul>
</div>