<div class="photo">
    <ul class="photo-list">
        <li class="photo-list__item">
            <a href="#" class="photo-list__link">
                <div class="photo-list__image-container">
                    <img src="img/champ-cup.jpg" alt="" class="photo-list__image">
                </div>
                <h5 class="photo-list__title">Here is how Leage Champions trophy looks like
                </h5>
            </a>
        </li>
        <li class="photo-list__item">
            <a href="#" class="photo-list__link">
                <div class="photo-list__image-container">
                    <img src="img/cassilias.jpg" alt="" class="photo-list__image">
                </div>
                <h5 class="photo-list__title">Casillas got some piece of paper</h5>
            </a>
        </li>
        <li class="photo-list__item">
            <a href="#" class="photo-list__link">
                <div class="photo-list__image-container">
                    <img src="img/fun-girls.jpg" alt="" class="photo-list__image">
                </div>
                <h5 class="photo-list__title">Bayern Munich vs Barcelona. Fangirls :)</h5>
            </a>
        </li>
    </ul>
</div>