<div class="video">
    <h2 class="video__head">videos</h2>
    <ul class="video-list">
        <li class="video-list__item g-clearfix video-list__item_icon">
            <a class="video-list__link " href="#">
                <div class="video-list__image-container">
                    <img src="img/video-image.jpg" alt="" class="video-list__image">
                </div>
                <div class="video-list__title">TOP Goals of the Week</div>
            </a>
        </li>
        <li class="video-list__item g-clearfix video-list__item_icon">
            <a class="video-list__link " href="#">
                <div class="video-list__image-container">
                    <img src="img/neuer.jpg" alt="" class="video-list__image">
                </div>
                <div class="video-list__title">The power of Neuer!</div>
            </a>
        </li>
        <li class="video-list__item g-clearfix video-list__item_icon">
            <a class="video-list__link " href="#">
                <div class="video-list__image-container">
                    <img src="img/kahn.jpg" alt="" class="video-list__image">
                </div>
                <div class="video-list__title">The most intense and famous Kahn’s saves</div>
            </a>
        </li>
        <li class="video-list__item g-clearfix video-list__item_icon">
            <a class="video-list__link " href="#">
                <div class="video-list__image-container">
                    <img src="img/rooney.jpg" alt="" class="video-list__image">
                </div>
                <div class="video-list__title">Rooney just have beaten national record!</div>
            </a>
        </li>
        <li class="video-list__item g-clearfix video-list__item_icon">
            <a class="video-list__link " href="#">
                <div class="video-list__image-container">
                    <img src="img/alex-ferguson.jpg" alt="" class="video-list__image">
                </div>
                <div class="video-list__title">Sir Alex Ferguson - the MU Legend</div>
            </a>
        </li>
    </ul>
    <div class="video-viewmore">
        <a href="#" class="video-viewmore__link">More videos</a>
    </div>
</div>