.levels {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $sea-green;
  padding-top: 10px;
}

.levels__title {
  text-align: center;
}

.levels__content {
  font-size: 26px;
  text-align: center;
}