<!doctype html>
<!--[if lt IE 9]>
<html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    {% include "partials/head.html" %}

</head>
<body>
<div class="container">
    <div class="wrapper g-clearfix">
        <div class="content">
            <div class="main">
                {% include "partials/hot-themes.html" %}
                {% include "partials/carosel.html" %}
                {% include "partials/main-news.html" %}
                <div class="main-left">

                </div>
                <div class="main-right">
                </div>
            </div>
            <div class="sidebar">
            </div>

        </div>
    </div>
</div>

<script src="main.js"></script>
</body>
</html>