<!doctype html>
<!--[if lt IE 9]>
<html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    {% include "partials/head.html" %}
</head>
<body>
{% include "partials/board/board.html" %}
{% include "partials/menu/menu.html" %}


<script src="../client/js/vendor/jquery-1.11.3.min.js"></script>
<script src="all.js "></script>
<script src="../client/js/index.js"></script>

</body>
</html>