<div class="numbers">
    <div class="numbers-item">
        <p class="numbers-item__symbol">1</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">2</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">3</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">4</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">5</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">6</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">7</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">8</p>
    </div>
    <div class="numbers-item">
        <p class="numbers-item__symbol">9</p>
    </div>
</div>