
body{
  position: relative;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.g-clearfix {

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

h1 {
  font-size: 50px;
}

