
<div class="board">
    <div class="board__row" id="row1">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row2">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row3">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row4">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row5">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row6">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row7">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row8">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
    <div class="board__row" id="row9">
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
        <div class="board__cell board__cell_empty"></div>
    </div>
</div>          

