.menu {
  margin: 50px auto;

  &.menu_board {
    float: left;
    width: 20%;
  }
}


.menu__item {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  font-weight: bold;
}