.menu {
  margin: 50px auto;

  &.menu_board {
    margin: 0 auto;
  }
}


.menu__item {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  font-weight: bold;

  &.menu__item_board {
    margin: 0 auto;
  }
}