.ui-btn {
  border: $border-width solid $white;
  border-radius: $border-radius;
  background: $sea-green;
  outline: none;

  &.ui-btn_board {
    border-color: $sea-green;
  }

  &:hover {
    background: $white;
  }
}

