//board

$board-border: #CCCCCC;
$cell-border: #ccc;
$cell-base: #daffd8;

//default colors

$white: #fff;
$red: #ff0000;

$default-text: #333;

//gradient

//$board-gradient:


$sea-green: #10b2aa;

$border-width: 1px;
$border-radius: 10px;
$border-radius-small: 5px
